
$lightbg: #eef5f9;

$box-shadow: 1px 0 20px rgb(0 0 0 / 10%);
$border-radius: 8px;

$btn-font-weight: 700 !default;
$btn-letter-spacing: 0 !default;

$font-family: "Sofia Pro Regular";
$font-family-bold: "Sofia Pro Bold";
$font-family-xbold: "Sofia Pro Black";
$font-family-light: "Sofia Pro Light";
$font-family-thin: "Sofia Pro UltraLight";

